<style>
    html, body {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
}
    body { margin: 0; padding: 0; font-family: sans-serif; background-color: #e9e9e9; overflow-x: hidden;}

     @font-face {
  font-family: 'Paperlogy';
  src: url('Paperlogy-4Regular.ttf') format('truetype');
  font-weight: 400;
}

	   @font-face {
  font-family: 'Paperlogy';
  src: url('Paperlogy-5Medium.ttf') format('truetype');
  font-weight: 500;
}

	 @font-face {
  font-family: 'Paperlogy';
  src: url('Paperlogy-6SemiBold.ttf') format('truetype');
  font-weight: 600;
}

/*푸터 설정*/

    footer {
  width: 100%;
  background-color: #ff004f;
  color: #ffffff;
  font-family: 'Paperlogy';
  position:relative;
}

.footer-wrap {
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 20px 200px;
  display: flex;
  gap: 0;
}

.footer-connectsociety {
  position:absolute;
  flex: 1;
  min-width: 0;
  left: 20%;
}

.footer-contact {
  position:absolute;
  flex: 1;
  min-width: 0;
  left: 55%;
}

.footer-location {
  position:absolute;
  flex: 1;
  min-width: 0;
  right: 20%;
}

.footer-bigtitle {
  margin: 0 0 16px;
  font-weight: 500;
  font-size: 30px;
}

.footer-title {
  margin: 0 0 16px;
  font-weight: 400;
  font-size: 30px;
}

.footer-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  word-break: keep-all;
}

.footer-bottom {
  text-align: center;
  font-weight: 200;
  font-size: 14px;
  padding: 16px 0 28px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

/*섹션 설정*/

    .section {
      position: relative;
      width: 100%;
    }

    .section img {
      width: 100%;
      height: auto;
      display: block;
    }

    .section1 {
      position: relative;
      width: 100%;
      padding-top: 200px;
    }

    .section1 img {
      width: 100%;
      height: auto;
      display: block;
    }

    .section2 {
      position: relative;
      width: 100%;
      padding-top: 50px;
    }

    .section2 img {
      width: 100%;
      height: auto;
      display: block;
      padding-top: 220px;
    }

    .section3 {
      position: relative;
      width: 100%;
      padding-top: 700px;
    }

    .section3 img {
      width: 100%;
      height: auto;
      display: block;
    }

    .sectionlast {
      position: relative;
      width: 100%;
      padding-top: 50px;
    }

    .sectionlast img {
      width: 100%;
      height: auto;
      display: block;
    }

    .section-sub {
   	 width: 100%;
 	 padding: 200px 0;
 	 position: relative;
}

    .section-sub1 {
     width: 100%;
   padding-top: 500px;
   position: relative;
}

    .section-sub11 {
     width: 100%;
   padding-top: 1100px;
   padding-bottom: 110px;
   position: relative;
}

    .section-sub2 {
     width: 100%;
   padding-top: 100px;
   padding-bottom: 0px;
   position: relative;
}

    .section-sub3 {
     width: 100%;
   padding-top: 100px;
   padding-bottom: 700px;
   position: relative;
}

    .section-sub4 {
     width: 100%;
   padding-top: 20px;
   padding-bottom: 350px;
   position: relative;
}

    .section-sub5 {
     width: 100%;
   padding-top: 50px;
   padding-bottom: 50px;
   position: relative;
}

.wrap {width: 1000px; margin: auto;}

.wrap1 {width: 1000px; margin: auto; padding-top:110px;}

/*텍스트 설정*/

    .text-lt {
      font-family: 'Paperlogy';
 	  font-weight: 600; 
  	  font-size: 64px;
  	  text-align: left;
      position: absolute;
      top: 5%;
      left: 15%;
      color: #ff004f;
      max-width: 70%;
    }

    .text-lt1 {
      font-family: 'Paperlogy';
    font-weight: 600; 
      font-size: 64px;
      text-align: left;
      position: absolute;
      top: 47%;
      left: 16%;
      color: #ff004f;
      max-width: 70%;
    }

    .text-ls {
     font-family: 'Paperlogy';
 	  font-weight: 400; 
  	 font-size: 20px;
  	 text-align: left;

  	 line-height: 1.6; 
   	 word-break: keep-all;

     position: absolute;
     top: 12%;
     left: 15%;
     color: #e9e9e9;
     width: 80%;
     max-width: 1000px;
    }

    .text-ls1 {
     font-family: 'Paperlogy';
   font-weight: 400; 
     font-size: 20px;
     text-align: left;

     line-height: 1.6; 
     word-break: keep-all;

     position: absolute;
     top: 67%;
     left: 16%;
     color: #0e0613;
     width: 80%;
     max-width: 1000px;
    }

    .text-ls2 {
     font-family: 'Paperlogy';
   font-weight: 400; 
     font-size: 20px;
     text-align: left;

     line-height: 1.6; 
     word-break: keep-all;

     position: absolute;
     top: 73%;
     left: 16%;
     color: #0e0613;
     width: 80%;
     max-width: 1000px;
    }

    .text-m {
     font-family: 'Paperlogy';
 	 font-weight: 600; 
  	 font-size: 64px;
  	 text-align: center;
     position: absolute;
     top: 27%;
     left: 50%;
     transform: translateX(-50%);
     color: #ff004f;
     width: 80%;
     max-width: 1000px;
    }

    .text-m1 {
     font-family: 'Paperlogy';
   font-weight: 600; 
     font-size: 64px;
     text-align: center;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     color: #ff004f;
     width: 80%;
     max-width: 1000px;
    }

    .text-mw {
     font-family: 'Paperlogy';
 	 font-weight: 600; 
  	 font-size: 64px;
  	 text-align: center;
     position: absolute;
     top: 80%;
     left: 50%;
     transform: translateX(-50%);
     color: #ffffff;
     width: 80%;
     max-width: 1000px;
    }

    .text-mw2 {
     font-family: 'Paperlogy';
   font-weight: 600; 
     font-size: 64px;
     text-align: center;
     position: absolute;
     top: 6.3%;
     left: 50%;
     transform: translateX(-50%);
     color: #ffffff;
     width: 80%;
     max-width: 1000px;
    }

    .text-ms {
     font-family: 'Paperlogy';
 	 font-weight: 400; 
  	 font-size: 20px;
  	 text-align: center;

  	 line-height: 1.6; 
   	 word-break: keep-all;

     position: absolute;
     top: 63%;
     left: 50%;
     transform: translateX(-50%);
     color: #0e0613;
     width: 80%;
     max-width: 1000px;
    }

    .text-ms1 {
     font-family: 'Paperlogy';
   font-weight: 400; 
     font-size: 20px;
     text-align: center;

     line-height: 1.6; 
     word-break: keep-all;

     position: absolute;
     top: 92.5%;
     left: 50%;
     transform: translateX(-50%);
     color: #ff004f;
     width: 80%;
     max-width: 1000px;
    }

    .text-ms2 {
     font-family: 'Paperlogy';
   font-weight: 400; 
     font-size: 20px;
     text-align: center;

     line-height: 1.6; 
     word-break: keep-all;

     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     color: #0e0613;
     width: 80%;
     max-width: 1000px;
    }

    .text-rm {
      font-family: 'Paperlogy';
 	  font-weight: 500; 
  	  font-size: 32px;
  	  text-align: right;
      position: absolute;
      top: 40%;
      right: 15%;
      color: #ffffff;
      max-width: 70%;
    }

    .text-rm1 {
      font-family: 'Paperlogy';
    font-weight: 500; 
      font-size: 32px;
      text-align: left;
      position: absolute;
      top: 19%;
      left: 55%;
      color: #ffffff;
      max-width: 70%;
    }

    .text-rm11 {
      font-family: 'Paperlogy';
    font-weight: 500; 
      font-size: 32px;
      text-align: left;
      position: absolute;
      top: 39%;
      left: 60%;
      color: #ff004f;
      max-width: 70%;
    }

    .text-rm111 {
      font-family: 'Paperlogy';
    font-weight: 500; 
      font-size: 32px;
      text-align: left;
      position: absolute;
      top: 44%;
      left: 60%;
      color: #ff004f;
      max-width: 70%;
    }

    .text-lm1 {
      font-family: 'Paperlogy';
    font-weight: 500; 
      font-size: 32px;
      text-align: left;
      position: absolute;
      top: 36.8%;
      left: 21%;
      color: #ffffff;
      max-width: 70%;
    }

    .text-lmbs {
      font-family: 'Paperlogy';
    font-weight: 500; 
      font-size: 32px;
      text-align: left;
      position: absolute;
      top: 61%;
      left: 16%;
      color: #0e0613;
      max-width: 70%;
    }

    .text-rms {
     font-family: 'Paperlogy';
 	 font-weight: 400; 
  	 font-size: 20px;
  	 text-align: right;

  	 line-height: 1.6; 
   	 word-break: keep-all;

     position: absolute;
     top: 42%;
     right: 15%;
     color: #e9e9e9;
     width: 80%;
     max-width: 1000px;
    }

    .text-rms1 {
     font-family: 'Paperlogy';
   font-weight: 400; 
     font-size: 20px;
     text-align: left;

     line-height: 1.6; 
     word-break: keep-all;

     position: absolute;
     top: 18.2%;
     left: 55%;
     color: #e9e9e9;
     width: 80%;
     max-width: 1000px;
    }

    .text-rms2 {
     font-family: 'Paperlogy';
   font-weight: 400; 
     font-size: 20px;
     text-align: left;

     line-height: 1.6; 
     word-break: keep-all;

     position: absolute;
     top: 20%;
     left: 55%;
     color: #e9e9e9;
     width: 80%;
     max-width: 1000px;
    }

    .textmar-rms1 {
     font-family: 'Paperlogy';
   font-weight: 400; 
     font-size: 20px;
     text-align: left;

     line-height: 1.6; 
     word-break: keep-all;

     position: absolute;
     top: 55.5%;
     left: 55%;
     color: #e9e9e9;
     width: 80%;
     max-width: 1000px;
    }

    .textmar-rms2 {
     font-family: 'Paperlogy';
   font-weight: 400; 
     font-size: 20px;
     text-align: left;

     line-height: 1.6; 
     word-break: keep-all;

     position: absolute;
     top: 57.3%;
     left: 55%;
     color: #e9e9e9;
     width: 80%;
     max-width: 1000px;
    }

    .textmar-rm1 {
      font-family: 'Paperlogy';
    font-weight: 500; 
      font-size: 32px;
      text-align: left;
      position: absolute;
      top: 56.4%;
      left: 54.8%;
      color: #ffffff;
      max-width: 70%;
    }

    .textnyn-lms1 {
     font-family: 'Paperlogy';
   font-weight: 400; 
     font-size: 20px;
     text-align: left;

     line-height: 1.6; 
     word-break: keep-all;

     position: absolute;
     top: 71.5%;
     left: 21%;
     color: #e9e9e9;
     width: 80%;
     max-width: 1000px;
    }

    .textnyn-lms2 {
     font-family: 'Paperlogy';
   font-weight: 400; 
     font-size: 20px;
     text-align: left;

     line-height: 1.6; 
     word-break: keep-all;

     position: absolute;
     top: 74%;
     left: 21%;
     color: #e9e9e9;
     width: 80%;
     max-width: 1000px;
    }

    .textnyn-lm1 {
      font-family: 'Paperlogy';
    font-weight: 500; 
      font-size: 32px;
      text-align: left;
      position: absolute;
      top: 72.4%;
      left: 21%;
      color: #ffffff;
      max-width: 70%;
    }

    .text-rms11 {
     font-family: 'Paperlogy';
   font-weight: 400; 
     font-size: 20px;
     text-align: left;

     line-height: 1.6; 
     word-break: keep-all;

     position: absolute;
     top: 31%;
     left: 60%;
     color: #0e0613;
     width: 80%;
     max-width: 1000px;
    }

    .text-rms22 {
     font-family: 'Paperlogy';
   font-weight: 400; 
     font-size: 20px;
     text-align: left;

     line-height: 1.6; 
     word-break: keep-all;

     position: absolute;
     top: 49%;
     left: 60%;
     color: #0e0613;
     width: 80%;
     max-width: 1000px;
    }

    .text-rms111 {
     font-family: 'Paperlogy';
   font-weight: 400; 
     font-size: 20px;
     text-align: left;

     line-height: 1.6; 
     word-break: keep-all;

     position: absolute;
     top: 38%;
     left: 60%;
     color: #0e0613;
     width: 80%;
     max-width: 1000px;
    }

    .text-rms222 {
     font-family: 'Paperlogy';
   font-weight: 400; 
     font-size: 20px;
     text-align: left;

     line-height: 1.6; 
     word-break: keep-all;

     position: absolute;
     top: 54.3%;
     left: 60%;
     color: #0e0613;
     width: 80%;
     max-width: 1000px;
    }

    .text-lms1 {
     font-family: 'Paperlogy';
   font-weight: 400; 
     font-size: 20px;
     text-align: left;

     line-height: 1.6; 
     word-break: keep-all;

     position: absolute;
     top: 36%;
     left: 21%;
     color: #e9e9e9;
     width: 80%;
     max-width: 1000px;
    }

    .text-lms2 {
     font-family: 'Paperlogy';
   font-weight: 400; 
     font-size: 20px;
     text-align: left;

     line-height: 1.6; 
     word-break: keep-all;

     position: absolute;
     top: 38.35%;
     left: 21%;
     color: #e9e9e9;
     width: 80%;
     max-width: 1000px;
    }

    .text-last {
      font-family: 'Paperlogy';
    font-weight: 600; 
      font-size: 128px;
      text-align: left;
      position: absolute;
      top: 40%;
      left: 10%;
      color: #ff004f;
      max-width: 70%;
    }

    /*이미지 설정*/

    .overlay-img {
  	position: absolute;
  	top: 0;
  	left: 0;
 	z-index: 2;
  	pointer-events: none;
}

    .overlay-img {
    position: absolute;
    top: 0;
    left: 0;
  z-index: 2;
    pointer-events: none;
}

  .boundaryimg {
  position: absolute;
  bottom: -360px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  width: 300px;
}

  .boundaryimg1 {
  position: absolute;
  top: -530px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  width: 300px;
}

  .boundaryimg2 {
  position: absolute;
  bottom: -580px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  width: 300px;
}

  .trials-section {
  position: relative;
  padding-bottom: 400px;
}

/*애니메이션 설정*/

.trials1 {
  animation: trials1anim 4.2s infinite ease-in-out;
}

.trials2 {
  animation: trials2anim 4.2s infinite ease-in-out;
}

@keyframes trials1anim {
  0%   { opacity: 1; }
  19%  { opacity: 1; }
  23%  { opacity: 0; }
  61%  { opacity: 0; }
  80%  { opacity: 0; }
  84%  { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes trials2anim {
  0%   { opacity: 1; }
  19%  { opacity: 1; }

  23%  { opacity: 1; }
  38%  { opacity: 1; }
  42%  { opacity: 0; }

  57%  { opacity: 0; }

  61%  { opacity: 1; }
  76%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 1; }
}

.ggambbak1 {
  animation: ggambbak1 0.9s infinite alternate;
}

@keyframes ggambbak1 {
  from { opacity: 1.0; }
  to   { opacity: 0.2; }
}

.ggambbak1-1 {
  animation: ggambbak1-1 0.9s infinite alternate;
}

@keyframes ggambbak1-1 {
  20%, 100% { opacity: 1.0; }
  60%   { opacity: 0.2; }
}

.ggambbak2 {
  animation: ggambbak2 0.6s infinite alternate;
}

@keyframes ggambbak2 {
  from { opacity: 1.0; }
  to   { opacity: 0.2; }
}

.trash {
  animation: trash 1s ease-in-out infinite;
}

@keyframes trash {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(70px);
  }
}

.scrollmessage {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translateX(-50%);
  width: 1230px;
  height: 410px;
  overflow: hidden;
  border-radius: 20px;
}

.scrolllong {
  width: 100%;
  animation: scrolllong 3s linear infinite;
}

@keyframes scrolllong {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-476.2px);
}
}

@keyframes videoframeanime {
  0% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1.3);
  }
  40% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1.15);
  }
}

.videoframe {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1.3);
  z-index: 4;
  animation: videoframeanime 2.4s infinite ease-in-out;
}

.videoframe1 { animation-delay: 0s; }
.videoframe2 { animation-delay: 0.2s; }
.videoframe3 { animation-delay: 0.4s; }
.videoframe4 { animation-delay: 0.6s; }

.videoframetop {
  z-index: 5;
}

.videoframe5 {
  animation: videoframe5 4.8s infinite ease-in-out;
}

.videoframe6 {
  animation: videoframe6 4.8s infinite ease-in-out;
}

@keyframes videoframe5 {
  0%, 45%   { opacity: 1; }
  55%, 100% { opacity: 0; }
}

@keyframes videoframe6 {
  0%, 45%   { opacity: 0; }
  55%, 100% { opacity: 1; }
}

.glow {
  text-shadow:
    0 0 10px rgba(233, 233, 233, 0.78),
    0 0 20px rgba(233, 233, 233, 0.88),
    0 0 30px rgba(233, 233, 233, 0.98);
}

.glow-ani {
  animation: glowAni 1s infinite alternate;
}

@keyframes glowAni {
  0% {
    text-shadow:
      0 0 8px rgba(233, 233, 233, 0.3),
      0 0 15px rgba(233, 233, 233, 0.4);
  }
  100% {
    text-shadow:
      0 0 15px rgba(255, 255, 255, 1),
      0 0 30px rgba(255, 255, 255, 1);
  }
}

.glow1 {
  text-shadow:
    0 0 10px rgba(255, 0, 79, 0.7),
    0 0 20px rgba(255, 0, 79, 0.8),
    0 0 30px rgba(255, 0, 79, 0.9);
}

.glow-ani1 {
  animation: glowAni1 1.2s infinite alternate;
}

@keyframes glowAni1 {
  0% {
    text-shadow:
      0 0 8px rgba(255, 0, 79, 0.1),
      0 0 15px rgba(255, 0, 79, 0.2);
  }
  100% {
    text-shadow:
      0 0 15px rgba(255, 0, 79, 0.5),
      0 0 30px rgba(255, 0, 79, 0.5);
  }
}

  </style>